/* Background Image */
body {
    background-image: url("https://th.bing.com/th/id/OIP.V7igWk5ny4YyZekozm9zewHaF7?pid=ImgDet&rs=1");
    background-size: cover;
}

/* Table Aligns */
table,
td,
th {
    border: 1px solid black;
}

td {
    padding: 20px;
    text-align: center;
}

th {
    padding: 20px;
}

/* Letter Animation */
.myclass {
    animation: rainbow 5s infinite;
    color: #e60000;
}

@keyframes rainbow {
    20% {
        color: #e60000;
    }
    40% {
        color: #33ccff;
    }
    60% {
        color: #0033cc;
    }
}
